@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Esse é o sistema de cadastro de notas.</p>
</div>
<div class="caixona">
    <div class="caixa-maior1">
        <div class="caixa-inicial">
            <span>Quer cadastrar um aluno?</span>
            <a href="https://localhost:7122/Aluno"> Clique aqui</a>
        </div>
        <div class="caixa-inicial">
            <span>Quer cadastrar um Professor?</span>
            <a href="https://localhost:7122/Professor"> Clique aqui</a>
        </div>
    </div>
    <div class="caixa-maior2">
        <div class="caixa-inicial">
            <span>Quer cadastrar uma materia?</span>
            <a href="https://localhost:7122/Materia"> Clique aqui</a>
        </div>
        <div class="caixa-inicial">
            <span>Quer adicionar uma nota?</span>
            <a href="https://localhost:7122/Nota"> Clique aqui</a>
        </div>
    </div>
</div>
