html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E7EFEE;
}

.img-logo{
    width: 6.5%;
    padding:0;
}
header a img {
    width: 100%;
}
nav {
    padding: 0;
    background-color: #9DD799;
}