html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Varela Round', sans-serif;
    background-color: #F8FEFF;
}

.img-logo{
    width: 6.5%;
    padding:0;
}
header a img {
    width: 100%;
}
nav {
    padding: 0;
    background-color: #06919B;
}
nav a {
    color: white;
    text-decoration: none;
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1.3rem;
}
nav div ul{
    margin: 0 auto;
}
/*Página inicial*/
.caixa-inicial a {
    display: block;
    font-size: 1rem;
    color: #06919B;
}
.caixa-inicial span{
    font-size: 1.3rem;
}
.caixa-inicial {
    border: solid 5px #06919B;
    border-radius: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align:center;
}
.caixa-maior1{
    width:30%;
}
.caixa-maior2 {
    width: 30%;
}
.caixona{
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.text-center{
    margin-bottom: 3rem;
}
/*rodapé*/
footer span{
    padding-left: 2rem;
}
footer {
    border-top: solid 1px #06919B;
}
input{
    border-radius: 0.5rem;
}
input[type="submit"] {
    background-color: #06919B;
    color: white;
    border-color: #06919B;
}
a{
    text-decoration: none;
    color: dimgrey;
}
a:hover {
        color: #0AE3F2 !important;
}
button {
    background-color: #06919B;
    color: white;
    border-radius: 0.5rem;
    border-color: #06919B;
    margin-bottom: 0.5rem;
}